################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/healthcheckWorkshop
/healthcheckWorkshop/bin/Debug/net9.0
/healthcheckWorkshop/obj
