################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/healthcheckWorkshop
/healthcheckWorkshop/bin/Debug/net9.0
/healthcheckWorkshop/obj
/.vs/ProjectEvaluation
/src/healthCheckWorkshop/obj
/src/healthCheckWorkshop/bin/Debug/net9.0
